* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(165, 102, 224);
  border-radius: 10px;
  margin: 50px 30px 0 30px;
  text-align: center;
  height: 40vh;
}

.App h1 {
  margin-top: 50px;
}

section ul div {
  display: flex;
  justify-content: center;
}

section ul div li {
  display: flex;
  justify-content: flex-start;
}

section ul div li {
  display: flex;
  align-items: center;
  margin: 15px;
  background-color: rgb(185, 151, 216);
  border-radius: 10px;
}

section ul div li input[type="checkbox"] {
  display: flex;
  align-items: center;
  margin: 15px;
  background-color: rgb(185, 151, 216);
  border-radius: 10px;
}



section ul div li span {
  margin-left: 10px;
  text-transform: capitalize;
}

img {
  width: 3%;
  border: 1px solid white;
  border-radius: 50px;
  margin-left: 10px;
}